.navbar
    .navbar-inner
        .container
            a.brand(href='#') Stepper.js - A lightweight step-by-step flow generator
            ul.nav
                li
                    a(href='#') About
                li.dropdown
                    a.dropdown-toggle(href='#') Demo
                        b.caret
                    ul.dropdown-menu
                        li
                            a(href='registration-tour.html') Registration Tour
                        li
                            a(href='#') Image Gallery Tour
                li 
                    a(href='#') API
                li 
                    a(href='https://github.com/EragonJ/Stepper.js', target='_blank') Download
